@using System.Security.Claims
@implements IDisposable
@inject NavigationManager NavigationManager
@inject IPageRepository PageRepository
@inject AuthenticationStateProvider AuthZ
@inject IUserRepository UserRepository


<div class="top-row ps-3 navbar navbar-dark">
	<a href="/" aria-label="@Localizer[SharedResource.sharpsite_home]"><img src="/logo.webp" alt="@Localizer[SharedResource.sharpsite_logo]"/></a>
</div>

<input type="checkbox" title="@Localizer[SharedResource.sharpsite_navmenu]" class="navbar-toggler" aria-label="@Localizer[SharedResource.sharpsite_navmenu]"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<div class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill" aria-hidden="true"></span> @Localizer[SharedResource.sharpsite_home]
			</NavLink>
		</div>

		@foreach (var p in Pages)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="@($"/{p.Slug}")" Match="NavLinkMatch.All">
					<span class="bi bi-plus-square-fill" aria-hidden="true"></span> @p.Title
				</NavLink>
			</div>
		}

		@** insert a horizontal rule to separate the bottom two items in the menu*@
		<hr class="dropdown-divider" />


		<AuthorizeView>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="Account/Manage">
					<span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @user?.DisplayName
				</NavLink>
			</div>
		</AuthorizeView>

		<AuthorizeView Roles="@Constants.Roles.AllUsers">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
					<span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @Localizer[SharedResource.sharpsite_admin]
				</NavLink>
			</div>
		</AuthorizeView>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/aboutSharpSite" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill" aria-hidden="true"></span>@Localizer[SharedResource.sharpsite_about]
			</NavLink>
		</div>


		<div class="nav-item px-3">
			<AuthorizeView>
				<Authorized>
					<form action="Account/Logout" method="post">
						<AntiforgeryToken />
						<input type="hidden" name="ReturnUrl" value="@currentUrl" />
						<button type="submit" class="nav-link">
							<span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> @Localizer[SharedResource.sharpsite_logout]
						</button>
					</form>
				</Authorized>
				<NotAuthorized>
					<NavLink class="nav-link" href="/Account/Login" Match="NavLinkMatch.All">
						<span class="bi bi-house-door-fill" aria-hidden="true"></span> @Localizer[SharedResource.sharpsite_login]
					</NavLink>
				</NotAuthorized>
			</AuthorizeView>

		</div>

		<LanguagePicker />
	</div>
</div>

@code {

	IEnumerable<Page> Pages { get; set; } = Enumerable.Empty<Page>();
	private string? currentUrl;

	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;
	private SharpSiteUser user = default!;

	protected override async Task OnInitializedAsync()
	{
		Pages = await PageRepository.GetPages();
		currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
		NavigationManager.LocationChanged += OnLocationChanged;

		var authState = await AuthZ.GetAuthenticationStateAsync();
		if (authState?.User.Identity is ClaimsIdentity identity)
		{
			this.user = await UserRepository.GetUserAsync(authState.User);
		}

	}

	private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
	{
		currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
		StateHasChanged();
	}

	public void Dispose()
	{
		NavigationManager.LocationChanged -= OnLocationChanged;
	}

}
