@page "/admin/addplugin"
@attribute [Authorize(Roles = Constants.Roles.Admin)]
@rendermode @(new InteractiveServerRenderMode(false))
@inject PluginManager PluginManager
@inject NavigationManager NavigationManager
@inject ILogger<AddPlugin> Logger

<h3>@Localizer[SharedResource.sharpsite_plugin_add]</h3>

<div class="mb-3 input-group">
	<label class="input-group-text" for="pluginFile">@Localizer[SharedResource.sharpsite_plugin_file]</label>
	<InputFile class="form-control" id="pluginFile" accept=".sspkg" OnChange="OnInputFileChange" />
</div>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
	<div class="alert alert-danger">@ErrorMessage</div>
}

@if (PluginManager.Manifest != null)
{
	<div class="card mb-3">
		<div class="card-body">
			<div class="list-group">
				<span class="list-group-item">@Localizer[SharedResource.sharpsite_plugin_id]</span>
				<span class="list-group-item list-group-item-primary">@PluginManager.Manifest.Id</span>
				<span class="list-group-item">@Localizer[SharedResource.sharpsite_plugin_name]</span>
				<span class="list-group-item list-group-item-primary">@PluginManager.Manifest.DisplayName</span>
				<span class="list-group-item">@Localizer[SharedResource.sharpsite_plugin_version]</span>
				<span class="list-group-item list-group-item-primary">@PluginManager.Manifest.Version</span>
				<span class="list-group-item">@Localizer[SharedResource.sharpsite_plugin_description]</span>
				<span class="list-group-item list-group-item-primary">@PluginManager.Manifest.Description</span>
				<span class="list-group-item">@Localizer[SharedResource.sharpsite_plugin_author]</span>
				<span class="list-group-item list-group-item-primary">@PluginManager.Manifest.Author</span>
				<span class="list-group-item">@Localizer[SharedResource.sharpsite_plugin_website]</span>
				<span class="list-group-item list-group-item-primary">@PluginManager.Manifest.AuthorWebsite</span>
			</div>
		</div>
		<div class="card-footer">
			<button class="btn btn-primary me-2" @onclick="SavePlugin">@Localizer[SharedResource.sharpsite_accept]</button>
			<button class="btn btn-danger" @onclick="RejectPlugin">@Localizer[SharedResource.sharpsite_reject]</button>
		</div>
	</div>

}

@code {
	private string ErrorMessage = string.Empty;

	private async Task OnInputFileChange(InputFileChangeEventArgs e)
	{

		try
		{
			ErrorMessage = string.Empty;
			var uploadedFile = e.File;
			var uploadedFileName = e.File.Name;

			PluginManager.ValidatePlugin(uploadedFileName);
			using var stream = uploadedFile.OpenReadStream();
			var plugin = await Plugin.LoadFromStream(stream, uploadedFileName);

			PluginManager.HandleUploadedPlugin(plugin);
			await Task.Yield();
		}
		catch (Exception ex)
		{
			Logger.LogError($"{ex.Message}");
			ErrorMessage = ex.Message;
		}

	}

	private async Task SavePlugin()
	{
		await PluginManager.SavePlugin();
		NavigationManager.NavigateTo("/admin/plugins");
	}

	private void RejectPlugin(MouseEventArgs e)
	{
		PluginManager.CleanupCurrentUploadedPlugin();
		NavigationManager.NavigateTo("/admin/plugins");
	}
}

