	@inject ApplicationState AppState
<ul class="nav nav-pills flex-column">

	<AuthorizeView Roles="@Constants.Roles.AllUsers">
		<li class="nav-item">
			<NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
				@Localizer[SharedResource.sharpsite_generaladmin]
			</NavLink>
		</li>
	</AuthorizeView>

	<AuthorizeView Roles="@Constants.Roles.Admin">
		<li class="nav-item">
			<NavLink class="nav-link" href="/admin/pages" Match="NavLinkMatch.All">
				@Localizer[SharedResource.sharpsite_pageadmin]
			</NavLink>
		</li>
	</AuthorizeView>
	<li class="nav-item">
		<NavLink class="nav-link" href="/admin/posts" Match="NavLinkMatch.All">
			@Localizer[SharedResource.sharpsite_postsadmin]
		</NavLink>
	</li>

	<AuthorizeView Roles="@Constants.Roles.Admin">
		<li class="nav-item">
			<NavLink class="nav-link" href="/admin/users">
				@Localizer[SharedResource.sharpsite_useradmin]
			</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="/admin/site" Match="NavLinkMatch.All">
				@Localizer[SharedResource.sharpsite_site_appearance_admin]
			</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="/admin/plugins">
				@Localizer[SharedResource.sharpsite_pluginmanagement]
			</NavLink>
		</li>

		@* Add a separator bar before the plugins configuration *@
		<li class="nav-item">
			<hr class="dropdown-divider" />
		</li>

		@foreach (var configSection in AppState.ConfigurationSections)
		{
			<li class="nav-item">
				<NavLink class="nav-link" href="@($"/admin/pluginconfig/{configSection.Key}")">
					@configSection.Key
				</NavLink>
			</li>
		}

	</AuthorizeView>

	@* Add a separator bar before the return to site *@
	<li class="nav-item">
		<hr class="dropdown-divider" />
	</li>

	<li class="nav-item">
		<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">@SharedResource.sharpsite_returntowebsite</NavLink>
	</li>


</ul>
