@page "/admin/addplugin"
@attribute [Authorize(Roles = Constants.Roles.Admin)]
@rendermode @(new InteractiveServerRenderMode(false))
@inject PluginManager PluginManager
@inject NavigationManager NavigationManager
@inject ILogger<AddPlugin> Logger

<h3>@Localizer["sharpsite_plugin_add"]</h3>

<div class="form-group">
	<label for="pluginFile">@Localizer["sharpsite_plugin_file"]</label>
	<InputFile class="form-control-file" id="pluginFile"
						 accept=".sspkg" OnChange="OnInputFileChange" />
</div>

@if (PluginManager.Manifest != null)
{
	@* add the id field from the manifest*@
	<div class="form-group">
    <label for="pluginId">@Localizer["sharpsite_plugin_id"]</label>
		<input type="text" class="form-control" id="pluginId" value="@PluginManager.Manifest.Id" readonly />
	</div>
	<div class="form-group">
		<label for="pluginName">@Localizer["sharpsite_plugin_name"]</label>
		<input type="text" class="form-control" id="pluginName" value="@PluginManager.Manifest.DisplayName" readonly />
	</div>
	<div class="form-group">
		<label for="pluginVersion">@Localizer["sharpsite_plugin_version"]</label>
		<input type="text" class="form-control" id="pluginVersion" value="@PluginManager.Manifest.Version" readonly />
	</div>
	<div class="form-group">
		<label for="pluginDescription">@Localizer["sharpsite_plugin_description"]</label>
		<input type="text" class="form-control" id="pluginDescription" value="@PluginManager.Manifest.Description" readonly />
	</div>
	<div class="form-group">
		<label for="pluginAuthor">@Localizer["sharpsite_plugin_author"]</label>
		<input type="text" class="form-control" id="pluginAuthor" value="@PluginManager.Manifest.Author" readonly />
	</div>
	<div class="form-group">
		<label for="pluginWebsite">@Localizer["sharpsite_plugin_website"]</label>
		<input type="text" class="form-control" id="pluginWebsite" value="@PluginManager.Manifest.AuthorWebsite" readonly />
	</div>

	@* add an accept and reject button *@
	<div class="form-group">
		<button class="btn btn-primary" @onclick="SavePlugin">@Localizer["sharpsite_accept"]</button>
		<button class="btn btn-danger" @onclick="RejectPlugin">@Localizer["sharpsite_reject"]</button>
	</div>

}


@code {


	private string ErrorMessage = string.Empty;

	private async Task OnInputFileChange(InputFileChangeEventArgs e)
	{
		try
		{
			var uploadedFile = e.File;
			var uploadedFileName = e.File.Name;

			PluginManager.ValidatePlugin(uploadedFileName);
			using var stream = uploadedFile.OpenReadStream();
			var plugin = await Plugin.LoadFromStream(stream, uploadedFileName);

			PluginManager.HandleUploadedPlugin(plugin);
			await Task.Yield();
		}
		catch (Exception ex)
		{
			Logger.LogError($"{ex.Message}");
			ErrorMessage = ex.Message;

		}

	}


	private async Task SavePlugin()
	{
		await PluginManager.SavePlugin();
		NavigationManager.NavigateTo("/admin/plugins");
	}
	private void RejectPlugin(MouseEventArgs e)
	{
		// Navigate back to the list of plugins
		NavigationManager.NavigateTo("/admin/plugins");
	}
}
