<div class="card plugin-card">
	<div class="card-header d-flex justify-content-between align-items-baseline gap-1">
		<h4 class="card-title mb-0">@Plugin.DisplayName</h4>
		<span>&mdash;</span>
		<small>@Plugin.Version</small>
	</div>
	<img src="@Plugin.Icon" alt="@Localizer[SharedResource.sharpsite_plugin_icon]" class="card-img-top"/>
	<div class="card-body">
		<p class="card-text">@Plugin.Description</p>
	</div>
	<div class="card-footer d-flex justify-content-between">
		<button type="button" class="btn btn-info">@Localizer[SharedResource.sharpsite_update]</button>
		<button type="button" class="btn btn-danger">@Localizer[SharedResource.sharpsite_remove]</button>
	</div>
</div>

@code {
	[Parameter, EditorRequired] public required PluginManifest Plugin { get; set; }
}
